.double-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  margin-top: 3%;
}

.double-button-left {
  background-color: #00ddff;
  font-weight: bold;
  box-shadow: none;
  margin-right: 0%;
  flex-basis: 50%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  box-shadow: -4px 6px 4px -1px rgba(0, 0, 0, 0.3);
}

.double-button-right {
  background-color: #53e8ff;
  margin-left: 0%;
  font-weight: bold;
  box-shadow: none;
  flex-basis: 50%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  box-shadow: 0px 6px 4px -1px rgba(0, 0, 0, 0.3);
}
