.double-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.double-button-left {
  background-color: #00ddff;
  font-weight: bold;
  box-shadow: none;
  margin-right: -1%;
  flex-basis: 50%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.double-button-right {
  background-color: #53e8ff;
  margin-left: -1%;
  font-weight: bold;
  box-shadow: none;
  flex-basis: 50%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
