* {
  font-family: "Poppins";
}

body {
  background-color: #f6f6f6;
}

div {
  background-color: inherit;
}

h1 {
  margin: 15px 20px 20px 20px;
  font-size: 1.4rem;
  font-weight: bold;
}
h2 {
  margin: 0 0 0 0px;
  font-size: 0.9rem;

  font-weight: bold;
}

p {
  color: #a9a9a9;
  font-size: 0.8rem;
  background-color: inherit;
}
ul {
  margin: 0.3rem;
}
ul:before {
  content: "- ";
}

button {
  background-color: #00ddff;
  border: none;
  border-radius: 25px;
  width: 40vw;
  height: 35px;
  font-size: 75%;
  font-weight: bold;
  box-shadow: -4px 6px 4px -1px rgba(0, 0, 0, 0.3);
  padding: 0;
  margin: 15px;
}

u {
  color: #00bfdc;
  font-weight: bold;
}

.containerBanner {
  height: 160px;
  background-color: #34383e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.containerLanguageSelector {
  display: flex;
  color: #d9d9d9;
  margin-top: -8px;
  justify-content: right;
  align-items: right;
}
.containerBanner > img {
  width: 250px;
}

.containerLengueta {
  padding: 40px 30px 85px 30px;
  top: -15px;
  position: relative;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.containerVideo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.video {
  border: none;
  width: 90vw;
  border-radius: 15px;
}

.containerSlide {
  padding: 25px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  box-sizing: border-box;
  height: 90vh;
  overflow: scroll;
}

.textoConexion {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 20px;
  margin-right: 40px;
  margin-left: 40px;
}

.botonBlanco {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0 15px 0;
  background-color: white;
  border-radius: 15px;
  padding: 10px 25px 10px 25px;
}

.botonBlanco > p {
  margin: 4px 0 4px 0px;
  grid-column: 1;
  grid-row: 2;
}
.botonBlanco > h2 {
  margin: 4px 0 4px 0px;
  grid-column: 1;
  grid-row: 1;
}

.botonBlanco > img {
  grid-column: 2;
  grid-row: 1/3;
  width: 40px;
  background-color: inherit;
}

.navBar {
  display: flex;
  justify-content: space-evenly;
  background-color: white;
  height: 8vh;
  align-items: center;
  position: fixed;
  bottom: 0px;
  width: 100vw;
  height: 10vh;
}
.navBar > img {
  width: 30px;
  background-color: rgba(255, 255, 255, 0);
}

.navBar > button {
  border-style: none;
  background-color: #ffffff00;
}

.activeIcon {
  filter: invert(74%) sepia(66%) saturate(3525%) hue-rotate(145deg)
    brightness(102%) contrast(108%);
  background: center;
}

.navBar_top {
  display: flex;
  align-content: center;
  align-items: center;
}

.navBar_top > img {
  width: 40px;
}

.cuadroCompra {
  background-color: white;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border-radius: 15px;
  align-items: center;
  padding: 10px 15px 10px 15px;

  -webkit-box-shadow: 0px 4px 11px -8px rgba(0, 0, 0, 0.67);
  box-shadow: 0px 4px 11px -9px rgba(0, 0, 0, 0.77);
  border-radius: 8px;
  padding: 10px 15px 10px 15px;
}

.cuadroCompra > img {
  width: 30px;
}

.cuadroCompra > img.flecha {
  width: 15px;
}

.inputCompra {
  background-color: inherit;
  border: none;
  outline: none;
  caret-color: #00bfdc;
  text-align: right;
  font-size: 1.2rem;
  width: 100%;
}

.inputCompra:focus-visible {
  border: none;
  background-color: inherit;
}

.saldo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 15px 0 15px;
}
.containerSaldos {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.containerSaldos > div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #e6e6e6;
  border-radius: 15px;
  padding: 5px 12px 5px 12px;

  width: 40%;
  align-items: center;
}

.containerSaldos > div > div {
  color: #a9a9a9;
  font-size: 0.8rem;
  background-color: inherit;
}

.pancake {
  border: 0;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  display: block;
  border-radius: 10px;
  max-width: 960px;
  min-width: 300px;
}

.containterSelector {
  background-color: white;

  border-radius: 15px;

  position: relative;
  top: -55vh;

  width: 100%;
  box-sizing: border-box;
  padding: 15px;
}

.containterSelectorBuscador {
  overflow: scroll;
  height: 110%;
  background-color: white;

  border-radius: 15px;

  position: absolute;
  top: -4vh;

  width: 100%;
  box-sizing: border-box;
  padding: 15px;
}

.moneda {
  margin: 0 20px 0 20px;
  padding: 7px 0 7px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.disabledContainer {
  pointer-events: none;
  opacity: 0.4;
}

.iconChecked {
  width: 30px;
}

.moneda > div {
  text-align: center;
  display: flex;
  gap: 10px;
  align-items: center;
}

.monedaSelected {
  font-weight: bold;
}

.close {
  width: 15px;
  padding: 10px;
  opacity: 0.5;
}

.containerClose {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  align-items: center;
}

.verde {
  background-color: #00ff57;
}

.imgDex {
  width: 30px;
}

.flexBox {
  display: flex;
  justify-content: space-evenly;
}

.btnLarge {
  font-size: 75%;
  font-weight: bold;
  width: 100%;
  margin: 0;
  margin: 15px 0 15px 0;
}

.btnTransp {
  background-color: white;
  border-style: solid;
  border-color: #00bfdc;
  border-width: 2px;
}

.cuadroCobro {
  height: 78px;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
  margin: 8px 8px 8px 8px;
}

.cuadroCobro > img {
  width: 25px;
  height: fit-content;
}

.cuadroCobro > button {
  margin: 0;
}

.cuadroCobro > div > p {
  margin: 0.25rem;
}

.cuadroCobro > button {
  width: 30%;
}

.aCobrar {
  font-weight: bold;
  color: #00bfdc;
}

.transparente {
  background-color: #ffffff00;
}

/* ------------------- */
/* ------------------- */

.slideIzquierda-enter-active {
  position: fixed;
  right: -100vw;
  left: 100vw;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: transform 800ms linear;
}

.slideIzquierda-exit-active {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  transition: transform 800ms linear;
}

/*/*/

.fade-exit-active {
  transform: translateY(100%);
  opacity: 0;
  scale: 0.7;
  transition: transform 500ms ease-in, opacity 500ms linear, scale 500ms linear;
}

.fade-enter {
  position: fixed;
  top: 205px;
  opacity: 0;
  width: -webkit-fill-available;
}

.fade-enter-active {
  transform: translateY(-100px);
  opacity: 1;
  transition: opacity 400ms linear, transform 400ms linear;
}

.animacionSelector-exit-active {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  transition: transform 700ms linear;
}

.animacionSelector-enter {
  transform: translateX(100vw);
}

.animacionSelector-enter-active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition: transform 700ms linear;
}
/**********************/

.inputBusqueda {
  width: 40vw;
}

.doubleButtonContainer {
  display: flex;
}

.gris {
  background-color: #a7a7a7;
}

.rendimientosStakingContainer {
  margin-top: 25px;
}

.investimentoActual {
  font-size: 0.9rem;
  display: flex;
  justify-content: space-around;
}

.investimentoActual > div {
  background-color: #d9d9d9;
  padding: 8px;
  text-align: center;
  margin-top: 11px;
}

.investimentoActual > div > div:first-child {
  font-weight: bold;
}

.containerPasos {
  display: flex;
  justify-content: center;
}

.pasos {
  width: 25px;
}

.inactiveIcon {
  filter: invert(80%) sepia(8%) saturate(20%) hue-rotate(342deg) brightness(82%)
    contrast(92%);
  background: center;
}

.cuadroGanaciasStaking {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-size: 0.8rem;
}

.cuadroGanaciasStaking > div:first-child {
  font-weight: bold;
}

.cuadroGanaciasStaking > div:nth-child(2) {
  font-weight: bold;
  font-size: 2rem;
}

.celeste {
  background-color: #98e8f5;
  border-radius: 11px;
  padding: 5px 8px 5px 8px;
  min-width: 90%;
}

.cuadroGanaciasStaking > div:nth-child(3) {
  font-weight: bold;
  min-width: auto;
}

.quema {
  background-color: orange;
}

.cuadroStakings {
  height: 58px;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
  margin: 8px 8px 8px 8px;
  text-align: center;
}

.cuadroStakings > img {
  width: 25px;
  height: fit-content;
}

.cuadroStakings > button {
  margin: 0;
}

.cuadroStakings > div > p {
  color: #34383e;
  margin: 0.25rem;
}

.cuadroStakings > button {
  width: 30%;
}

.cuadroSimulador {
  margin-top: 20px;
}

.cuadroSimulador > .seccion {
  margin-top: 20px;
}

.cuadroSimulador > .seccion > .saldo {
  margin: 5px 20px 5px 0px;
  justify-content: flex-end;
}

.containerBotonesSimulacion {
  display: flex;
  justify-content: flex-end;
}

.btnSimulacion {
  border-style: solid;

  border-color: #00bfdc;
  width: 45px;
  height: 20px;
  padding: 0px;
  margin: 3px;
  font-size: 0.6rem;
  box-shadow: none;
  border-width: 2px;
}

.containerSimuladorStaking {
  padding: 0 20px 0 20px;
}

.botonesSimuladorStaking {
  display: flex;
  justify-content: center;
}

.botonesSimuladorStaking > button {
  padding: 7px;
  border-radius: 12px;
  height: auto;
}

.botonesSimuladorStaking > button {
  padding: 7px;
  border-radius: 12px;
  height: auto;
  background-color: #a9f4ff;
  opacity: 0.4;
}

.botonesSimuladorStaking > button.active {
  background-color: #00ddff;
  opacity: 1;
}

.containerSimuladorStaking > .saldo > h2 {
  margin: 7px 0 5px 0;
}

.donutContainer {
  max-height: 500px;
  max-width: 400px;
}

.boxLegends1 {
  display: flex;
  flex-direction: row;

  position: relative;
  top: 50%;
  left: 0%;
  transform: translateY(-800%);
  background-color: transparent;
}

.boxLegends1 img {
  width: 10%;
  height: 10%;
}

.boxLegends2 {
  display: flex;
  flex-direction: row;
  position: relative;
  size: 1px;
  top: 50%;
  left: 80%;
  transform: translateY(-150%);
  background-color: transparent;
}

.boxLegends2 img {
  width: 10%;
  height: 10%;
}
.containerParticipacionEnPool {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4%;
  background-color: #ffffff;
}
.containerSaldosLiquidez {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4%;
  background-color: #ffffff;
  border-radius: 80px;
}

.leftSide {
  flex: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.rightSide {
  flex: auto;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: right;
  border-left-style: dashed;
  border-left-color: #b2becf;
}
.containerSlideRetirarLiquidez {
  justify-content: center;
  align-items: center;
  align-content: center;
}
.leftSide img {
  margin-right: 10px;
}
.rightSide img {
  margin-right: 10px;
}

.leftSide p {
  margin: 0%;
}

.rightSide p {
  margin: 0%;
}

.cointainer1Inch {
  overflow: scroll;
  background-color: #adceff;

  border-radius: 15px;
  position: relative;
  top: -55vh;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
}

.cointainer1Inch > .close1Inch {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.soloSaldo {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.soloSaldo > div {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: #e6e6e6;
  border-radius: 15px;
  padding: 5px 12px 5px 12px;

  align-items: center;
}

.containerSaldos > div > div {
  color: #a9a9a9;
  font-size: 0.8rem;
  background-color: inherit;
}

.container {
  position: relative;
}

.inactive {
  background-color: #a9f4ff;
  opacity: 0.4;
}

.cuadroCompraSimulador {
  background-color: #dedede;
  display: grid;
  grid-template-columns: 0.7fr 0.7fr 2fr 2fr;
  border-radius: 15px;
  text-align: center;
  justify-items: start;
  align-items: center;
  padding: 10px 15px 10px 15px;
}

.cuadroCompraSimulador > b {
  font-size: 0.75rem;
}

.cantidadSimulador {
  grid-column: 3/5;
  background-color: inherit;
  border: none;
  outline: none;
  caret-color: #00bfdc;
  text-align: right;
  font-size: 1.2rem;
  width: 100%;
}

.seccionCantidad {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cantidad {
  width: 75%;
}

.cuadroCompraSimulador.cantidad {
  grid-template-columns: 1fr 1fr 2fr 1fr;
  background-color: white;
}

.cuadroCompraSimulador.cantidad > img {
  width: 50px;
}

.containerResultadosSimulacion {
  background-color: #dedede;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  padding: 10px 15px 10px 15px;
  border-radius: 15px;
  margin-top: 15px;
}

@media (max-width: 450px) {
  .containerResultadosSimulacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }
}

.containterSelectorTokens {
  background-color: white;
  width: 80%;

  border-radius: 15px;

  box-sizing: border-box;
  padding: 15px;
}

.divContainterSelectorTokens {
  background-color: #a7a7a700;
  position: fixed;
  top: 37vh;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translateX(100vw);
}

.animacionAgregar-enter-active {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  transition: transform 800ms linear;
}

.animacionAgregar-enter-done {
  transform: translateX(0vw);
}

.animacionAgregar-exit {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  transition: transform 8000ms linear;
}

.animacionAgregar-exit-active {
  -webkit-transform: translateX(100vw);
  transform: translateX(100vw);
  transition: transform 800ms linear;
}

.listaAgregar {
  margin: 20px 0 20px 0;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto;
  justify-items: start;
  justify-content: center;
  gap: 15px;

  align-items: center;
}

.shadowBox {
  -webkit-box-shadow: 0px 4px 11px -8px rgba(0, 0, 0, 0.67);
  box-shadow: 0px 4px 11px -9px rgba(0, 0, 0, 0.77);
  border-radius: 8px;
  padding: 10px 15px 10px 15px;
}

.containerMaquinas {
  margin: 20px 0 20px 0;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;

  justify-items: start;
  align-items: center;
  gap: 10px;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
}

.containerMaquinas b {
  display: block;
  margin: 3px 0 3px 0;
}

.logoMaquinas {
  width: 70px;
  grid-column: 1;
  grid-row: 1/3;
  justify-self: center;
}

.maquinas {
  grid-column: 2;
  grid-row: 1;
}
.petahash {
  grid-column: 3;
  grid-row: 1;
}

.produccion {
  grid-column: 2/4;
  grid-row: 2;
}

.disabledContainer {
  opacity: 0.4;
  pointer-events: none;
  opacity: 0.4;
  z-index: 4;
}

.noMetamask {
  width: 250px;
  height: 250px;
  background-color: cornflowerblue;
}

.boton100porcent {
  display: flex;
  margin-top: 5px;
  justify-content: flex-end;
}

.seccion {
  margin: 10px 0 10px 0;
}

.slippage {
  text-align: centerC;
  margin: 10px 0 5px 0;
}

.cointainerAlertaVault {
  background-color: #adceff;
  height: 250px;

  border-radius: 15px;
  position: relative;
  top: -35vh;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
  text-align: center;
  margin-bottom: -250px;
}

.cointainerAlertaVault > .close1Inch {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cointainerAlertaVault p {
  color: black;
  font-size: 1rem;
}
